/* Style untuk header */
header {
  background-color: #333;
  color: #fff;
  padding: 20px;
}

header h1 {
  margin: 0;
}

nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

nav li {
  display: inline-block;
  margin-right: 20px;
}

nav li:last-child {
  margin-right: 0;
}

nav a {
  color: #fff;
  text-decoration: none;
}

/* Style untuk main content */
main {
  margin: 10px;
}

main h2 {
  margin-top: 0;
  border-style: groove;
}

.profile-container p {
  line-height: 1.5;
  font-size: 10px;
}

/* Style untuk footer */
footer {
  background-color: #333;
  color: #fff;
  padding: 20px;
  text-align: center;
}

@media (max-width: 600px) {
  .image,
  .profile-container {
    width: 10%;
    float: none;
  }
}
